*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  
}

/* regole header */
header{
    background-color: #ff6900;
    height:60px;
    margin-bottom:30px;
}


/* blocco di contenuto principale */

.container-product{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:15px;
}

.block-product{
    width:30%;
    position: relative;
    /* height: 80px; */
    /* DEBUG */
    /* background-color: #86a583;
    border: 1px solid black; */
}

.block-product img{
    width:100%;
    /* height: 100%; */
}

.discount{ 
    color:white;
    font-size: 15px;
    position: absolute;
    bottom:5%;
    left:0;

}
.label-red{
    background-color: red;
    padding:5px;
    font-weight: 600;
}

.label-green{
    background-color:green;
    padding:5px;
    font-weight: 600;
}

.label-heart{
    
    background-color: white;
    padding:5px;
    position: absolute;
    top:5px;
    right:0px;
    font-size:20px;
    width:30px;
    text-align: center;


}


 /* footer  */
 footer{
    margin-top:40px;
    background-color: #1a1a1a;
    height:80px;
 }

