*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  
}

/* regole header */
header{
    background-color: #ff6900;
    height:60px;
}



/* blocco di contenuto principale */


 /* footer  */
 footer{
    background-color: #1a1a1a;
    height:80px;
 }

